<html>
<div th:fragment="sidebar">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>Noinet</title>
        <script src="https://kit.fontawesome.com/8799ad7f92.js" crossorigin="anonymous"></script>
        <!-- Custom fonts for this template-->
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    
        <!-- Custom styles for this template-->
        <link href="../css/sb-admin-2.css" rel="stylesheet">
    
    </head>
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Noinet</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/dashboard}">
                <i class="fa fa-home"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Copertura -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/copertura}">
                <i class="fa-solid fa-earth-americas"></i>
                <span>Copertura</span></a>
        </li>

        <!-- Nav Item - Gestione SIM -->

        <li class="nav-item">
            <a class="nav-link collapsed" id="dropdown" data-toggle="collapse">
                <i class="fa-solid fa-pen-to-square"></i>
                <span>Gestione Sim</span>
            </a>
            <div id="collapseTwo" class="collapse" >
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Funzioni disponibili :</h6>
                    <a class="collapse-item" th:href="@{/infoSim}">Informazioni Sim</a>
                    <a class="collapse-item" th:href="@{/gestioneSim}">Gestione Sim</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Servizi -->
        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="fa-solid fa-eye"></i>
                <span>SERVIZI</span></a>
        </li>

        <!-- Nav Item - Lista SIM -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/tableSim}">
                <i class="fa-solid fa-list-check"></i>
                <span>Lista SIM</span></a>
        </li>

    </ul>
    <!-- End of Sidebar -->


    <script>
        document.getElementById("dropdown").onclick = function() {
            if ( !document.getElementById("dropdown").classList.contains('collapsed') ){
                document.getElementById("collapseTwo").classList.remove('show');
                document.getElementById("dropdown").classList.add('collapsed');
            }else{
                document.getElementById("collapseTwo").classList.add('show');
                document.getElementById("dropdown").classList.remove('collapsed');
            }
        };

    </script>
</div>

</html>