<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="module" src="../js/copertura.js"></script>
</head>

<body>
    <!-- Page Wrapper -->
    <div id="wrapper" class="justify-content-center" style="margin: 30px;">

        <!-- side-Navbar -->
        <div th:replace="fragments/Side-Navbar.html:: sidebar"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="border-radius: 0px 25px 25px 0px;">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:replace="fragments/BarraUtente.html:: utente"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="align-items-center justify-content-between mb-4">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Servizio di verifica copertura</h1>
                            </div>
                            <hr>
                            <form id="FormCopertura" class="user">
                                <div class="form-group w-25">
                                    <input class="form-control form-control-user" id="exampleID"
                                        placeholder="ID PROVIDER" readonly>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="latitudine"
                                            placeholder="Latitudine" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="longitudine"
                                            placeholder="Longitudine" required>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block w-25">
                                    Verifica
                                </button>
                            </form>
                            <hr>

                            <div style="display: none;" id="coperto"> 
                                <h3>IL SITO E' COPERTO</h3>
                                
                                    <div class="form-group">
                                        <label for="CovType">TIPO DI COPERTURA</label>
                                        <input class="form-control" style="font-size: 0.8rem;border-radius: 10rem;  padding: 1.5rem 1rem;" id="CovType" 
                                            placeholder="ID PROVIDER" readonly>
                                    </div>
                                    <div class="form-group user">
                                        <label for="AreaCode">TIPO DI COPERTURA</label>
                                        <input class="form-control" style="font-size: 0.8rem;border-radius: 10rem;  padding: 1.5rem 1rem;" id="AreaCode"
                                            placeholder="ID PROVIDER" readonly>
                                    </div>

                            </div>
                            <div style="display: none;" id="errore"> 
                                <p id="erroreMsg"></p>
                            </div>

                        
                        </div>
                        </h1>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
</body>

</html>