<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="module" src="../js/infoSim.js"></script>
</head>

<body>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- side-Navbar -->
        <div th:replace="fragments/Side-Navbar.html:: sidebar"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:replace="fragments/BarraUtente.html:: utente"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="align-items-center justify-content-between mb-4">
                        <div class="p-5" id="formRichiesta">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Informazioni SIM</h1>
                            </div>
                            <hr>
                            <form id="FormInformazioni" class="user">
                                <div class="form-group w-50 mt-5 mb-5">
                                    <input class="form-control form-control-user" id="ICCID"
                                        placeholder="ICCID" required>
                                </div>
                                <div class="form-group w-50 mt-5 mb-5">
                                    <input class="form-control form-control-user" id="IdRecord"
                                        placeholder="IdRecord" >
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block w-25 mb-5">
                                    Procedi
                                </button>
                            </form>
                            <hr>
                        </div>
                        <div class="p-5" id="formRisposta" style="display: none;">
                            <div id="payload" class="text-center">

                            </div>
                        </div>
                        <div class="p-5" id="errore" style="display: none;">
                            <div id="erroreMsg" class="text-center"></div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
</body>

</html>